<div class="npc-generator-gpt">
    <hr />
    <table>
        <tr>
            <th><label for="gender">{{localize 'npc-generator-gpt.dialog.gender'}}:</label></th>
            <th>
                <select id="gender">
                    <option value="random">{{localize 'npc-generator-gpt.dialog.random'}}</option>
                    <option value="male">{{localize 'npc-generator-gpt.dialog.male'}}</option>
                    <option value="female">{{localize 'npc-generator-gpt.dialog.female'}}</option>
                </select>
            </th>
        </tr>
        <tr>
            <th><label for="race">{{localize 'npc-generator-gpt.dialog.race'}}:</label></th>
            <th>
                <select id="race">
                    <option value="random">{{localize 'npc-generator-gpt.dialog.random'}}</option>
                    <option value="dragonborn">{{localize 'npc-generator-gpt.dialog.dragonborn'}}</option>
                    <option value="dwarf">{{localize 'npc-generator-gpt.dialog.dwarf'}}</option>
                    <option value="elf">{{localize 'npc-generator-gpt.dialog.elf'}}</option>
                    <option value="gnome">{{localize 'npc-generator-gpt.dialog.gnome'}}</option>
                    <option value="halfelf">{{localize 'npc-generator-gpt.dialog.halfelf'}}</option>
                    <option value="halfling">{{localize 'npc-generator-gpt.dialog.halfling'}}</option>
                    <option value="halforc">{{localize 'npc-generator-gpt.dialog.halforc'}}</option>
                    <option value="human">{{localize 'npc-generator-gpt.dialog.human'}}</option>
                    <option value="tiefling">{{localize 'npc-generator-gpt.dialog.tiefling'}}</option>
                </select>
            </th>
        </tr>
        <tr>
            <th><label for="class">{{localize 'npc-generator-gpt.dialog.class'}}:</label></th>
            <th>
                <select id="class">
                    <option value="random">{{localize 'npc-generator-gpt.dialog.random'}}</option>
                    <option value="barbarian">{{localize 'npc-generator-gpt.dialog.barbarian'}}</option>
                    <option value="bard">{{localize 'npc-generator-gpt.dialog.bard'}}</option>
                    <option value="cleric">{{localize 'npc-generator-gpt.dialog.cleric'}}</option>
                    <option value="druid">{{localize 'npc-generator-gpt.dialog.druid'}}</option>
                    <option value="fighter">{{localize 'npc-generator-gpt.dialog.fighter'}}</option>
                    <option value="monk">{{localize 'npc-generator-gpt.dialog.monk'}}</option>
                    <option value="paladin">{{localize 'npc-generator-gpt.dialog.paladin'}}</option>
                    <option value="ranger">{{localize 'npc-generator-gpt.dialog.ranger'}}</option>
                    <option value="rogue">{{localize 'npc-generator-gpt.dialog.rogue'}}</option>
                    <option value="sorcerer">{{localize 'npc-generator-gpt.dialog.sorcerer'}}</option>
                    <option value="warlock">{{localize 'npc-generator-gpt.dialog.warlock'}}</option>
                    <option value="wizard">{{localize 'npc-generator-gpt.dialog.wizard'}}</option>
                </select>
            </th>
        </tr>
        <tr>
            <th><label for="cr">{{localize 'npc-generator-gpt.dialog.cr'}}:</label></th>
            <th>
                <select id="cr">
                    <option value="random">{{localize 'npc-generator-gpt.dialog.random'}}</option>
                    <option value="0">0</option>
                    <option value="0.125">1/8</option>
                    <option value="0.25">1/4</option>
                    <option value="0.5">1/2</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
            </th>
        </tr>
        <tr>
            <th><label for="alignment">{{localize 'npc-generator-gpt.dialog.alignment'}}:</label></th>
            <th>
                <select id="alignment">
                    <option value="random">{{localize 'npc-generator-gpt.dialog.random'}}</option>
                    <option value="lg">{{localize 'npc-generator-gpt.dialog.lg'}}</option>
                    <option value="ng">{{localize 'npc-generator-gpt.dialog.ng'}}</option>
                    <option value="cg">{{localize 'npc-generator-gpt.dialog.cg'}}</option>
                    <option value="ln">{{localize 'npc-generator-gpt.dialog.ln'}}</option>
                    <option value="n">{{localize 'npc-generator-gpt.dialog.n'}}</option>
                    <option value="cn">{{localize 'npc-generator-gpt.dialog.cn'}}</option>
                    <option value="le">{{localize 'npc-generator-gpt.dialog.le'}}</option>
                    <option value="ne">{{localize 'npc-generator-gpt.dialog.ne'}}</option>
                    <option value="ce">{{localize 'npc-generator-gpt.dialog.ce'}}</option>
                </select>
            </th>
        </tr>
    </table>
    <hr />
    <button type="submit" id="npcGen_create-btn">{{localize 'npc-generator-gpt.dialog.button'}}</button>
</div>
