<h4><strong>{{localize 'npc-generator-gpt.sheet.appearance'}}:</strong></h4>{{appearance}}<hr>
<section class="secret" id="secret-npc-section">
    <h4><strong>{{localize 'npc-generator-gpt.sheet.background'}}:</strong></h4>{{background}}<hr>
    <h4><strong>{{localize 'npc-generator-gpt.sheet.roleplaying'}}:</strong></h4>{{roleplaying}}<hr>
    <h4><strong>{{localize 'npc-generator-gpt.sheet.readaloud'}}:</strong></h4><blockquote style="background-color: cyan">{{readaloud}}</blockquote>
</section>