{
    "name": "{{localize "npc-generator-gpt.query.name"}}",
    "background": "{{localize "npc-generator-gpt.query.background"}}",
    "appearance": "{{localize "npc-generator-gpt.query.appearance"}}",
    "roleplaying": "{{localize "npc-generator-gpt.query.roleplaying"}}",
    "equip": "{{localize "npc-generator-gpt.query.equip"}}. Format: <ul><li>{item_1}</li><li>{item_2}</li></ul>",
    "spells": "{{localize "npc-generator-gpt.query.spells"}}. Format: <ul><li>{spell_name_1}</li><li>{spell_name_2}</li></ul>",
}
