<h4><strong>{{localize 'npc-generator-gpt.sheet.appearance'}}:</strong></h4>{{appearance}}<hr>
<section class="secret" id="secret-npc-section">
    <h4><strong>{{localize 'npc-generator-gpt.sheet.class'}}:</strong></h4>{{class.label}}<hr>
    <h4><strong>{{localize 'npc-generator-gpt.sheet.alignment'}}:</strong></h4>{{alignment.label}}<hr>
    <h4><strong>{{localize 'npc-generator-gpt.sheet.background'}}:</strong></h4>{{background}}<hr>
    <h4><strong>{{localize 'npc-generator-gpt.sheet.roleplaying'}}:</strong></h4>{{roleplaying}}<hr>
    <h4><strong>{{localize 'npc-generator-gpt.sheet.equip'}}:</strong></h4>{{{equip}}}<hr>
    <h4><strong>{{localize 'npc-generator-gpt.sheet.spells'}}:</strong></h4>{{{spells}}}
</section>
